* {
	cursor: none;
}

:root {
	--cursor-x: 0;
	--cursor-y: 0;
	--selected-x: 0;
	--selected-y: 0;
	--default-cursor-size: 40px;
	--cursor-width: var(--default-cursor-size);
	--cursor-height: var(--default-cursor-size);
}

.cursor {
	--border-width: 2px;
	--trans-dur: 0.2s;

	position: fixed;
	pointer-events: none;
	width: var(--cursor-width);
	height: var(--cursor-height);
	left: var(--cursor-x);
	top: var(--cursor-y);
	border-radius: 50%;
	border: var(--border-width) solid var(--bg);
	filter: drop-shadow(0 0 5px #aaa);
	transform: translate(-50%, -50%);
	transition: all var(--trans-dur) ease-out, left 0s, top 0s;
	z-index: 9998;

	&.object-hover {
		position: absolute;
		border-radius: 5px;
		left: var(--selected-x);
		top: var(--selected-y);
		filter: drop-shadow(0 0 5px black);
		transition: all var(--trans-dur) ease-out;
	}

	&:not(.object-hover).down {
		--cursor-width: 30px;
		--cursor-height: 30px;
	}
}

.cursor-inner {
	position: fixed;
	pointer-events: none;
	width: 10px;
	height: 10px;
	left: var(--cursor-x);
	top: var(--cursor-y);
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.8);
	transform: translate(-50%, -50%);
	z-index: 9999;
	transition: opacity 0.2s;
}
.cursor-inner.zoom-in {
	opacity: 0;
	background-color: transparent;
	filter: drop-shadow(0 0 5px var(--text));
}

.cursor.object-hover ~ .cursor-inner {
	&.default {
		opacity: 0;
	}
	&.zoom-in {
		opacity: 1;
	}
}
